<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrdersService" transactionFlow="true" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/WCFSample/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrdersService" contract="OrdersService.IOrdersService"
                name="NetTcpBinding_IOrdersService">
                <identity>
                    <userPrincipalName value="VIRPC\viruser" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
